dl:has(> dt) {
  /* li > dl:has(> dt) { */
    border: 2px solid #000; /* 为符合条件的 <li> 添加边框 */
    padding-right: 30px !important; /* 右边留出30px的距离 */
    padding-left: 20px !important; /* 右边留出30px的距离 */
  }